<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FaceBookSuite">
  <test  name="FaceBookTst">
    <classes>
      <class name="testngdemo.org.FaceBookTest"/>
      <parameter name="username" value="tittuanish@gmail.com"></parameter>
      <parameter name="password" value="tittu"></parameter>
    </classes>
  </test> <!-- FaceBookTst -->
</suite> <!-- FaceBookSuite -->
